.card-wrapper {
  display: flex;
  flex-direction: column;
  .spin-container {
    height: calc(100vh - 121px);
  }
  .pagination {
    text-align: center;
    margin-top: 20px;
  }
  .card-title {
    margin: 0;
    color: var(--card-title-color);
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    margin-bottom: 16px;
  }
  .ant-card-cover {
    min-height: 362px;
  }
}
